<!DOCTYPE html>
<html lang="en" ng-app="calculator">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://code.angularjs.org/1.3.10/angular.js"></script>
    <script src="https://code.angularjs.org/1.3.0/angular-messages.min.js"></script>
    <script src="app.js"></script>
</head>
<body ng-controller="myController">
  <div class="container">
    <div class="header">
      <h1>Waitstaff Calculator</h1>
    </div>
    <div class="calculator">
      <div class="app">
        <div class="head">Enter the Meal Details</div>
        <div class="nonhead">
        <form name="calculateMe" novalidate ng-submit='submit()'>
          <div class="inputbox">
            Base meal price: $ <input name="price" class="input" ng-model="baseIn" require>
          </div>
          <div class="inputbox">
            Tax Rate: % <input name="tax" class="input" ng-model="taxIn" require><span ng-if="calculateMe.$submitted" ng-message="required">Please don't leave out the tip!</span>
          </div>
          <div class="inputbox">
            Tip percent: % <input name="tip" class="input" ng-model="tipIn" require><span ng-if="calculateMe.$submitted" ng-message="calculateMe.tip.$error"><span class="error" ng-message="required">Please don't leave out the tip!</span></span>
          </div>
          <div class="buttonbox">
            <input type="submit" class="button">
            <button ng-click="toZero()">Cancel</button>
          </div>
        </form>
        </div> <!-- nonhead -->
      </div> <!-- app -->
      <div class="results">
        <div class="charges">
      	  <div class="head">Customer Charges
      	  </div>
      	  <div class="nonhead">
      	    Subtotal: {{ taxed | currency }} <br>
      	    Tip: <span ng-if="calculateMe.$submitted">{{ tipDisplay | percent }}</span><br>
      	    Total: {{ tipped | currency }}
      	  </div>
        </div>

        <div class="earnings">
          <div class="head">My Earnings Info</div>
          <div class="nonhead">
            Tip Total: {{ tipTotal | currency }}<br>
            Meal Count: {{ mealCount }}<br>
            Average Tip Per Meal: {{ tipAverage | currency }}
          </div>
        </div> 
       </div> <!-- results -->
    </div> <!-- calculator -->
    <button class="reset" ng-click="reset()">Reset</button>
  </div> <!-- container -->
	
</body>
</html>